<!--Header-->
<div class="container-fluid">
    <div class="row bg-secondary">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja bem vindo(a)"</h1>
                    <h5 class="fs-18">Experesse aqui seus pensamentos e opiniões!</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light mr-2">Nova Postagem</button>
                    <a class="btn btn-outline-light" href="">Ver Postagens</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="https://imgur.com/rJ07CGt" alt="" width="500px" height="500px">
        </div>
    </div>
</div>
<!--/header-->

<!--Nav-->
<div class="container mb-5 mt-5">
    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
          <a class="nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>
          <a class="nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>
          <a class="nav-link text-secondary font-weight-bold" id="nav-postagensTema-tab" data-toggle="tab" href="#postagensTema" role="tab" aria-controls="nav-postagensTema" aria-selected="false">Postagens por Tema</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">Todas as postagens</div>
        <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">Minhas Postagens</div>
        <div class="tab-pane fade" id="nav-postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">Postagens por Tema</div>
      </div>
</div>
<!--/nav-->