#img-bg{
background-image: url('https://live.staticflickr.com/65535/50850898002_6a3cf883c0_b.jpg');

min-height:695px;

background-position:center;
background-repeat: no-repeat;
background-size: cover;

}